* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Lato, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background: #87CEEB;
}

input,
button,
select,
textarea {
    font-family: Lato, sans-serif;
    font-size: inherit;
    outline: none;
}

img {
    border: none;
    max-width: 100%;
}

::-webkit-input-placeholder {
    color: #fff;
}

::-moz-placeholder {
    color: #fff;
}

:-ms-input-placeholder {
    color: #fff;
}

:-moz-placeholder {
    color: #fff;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1240px;
}

.header {
    display: flex;
    margin: 50px 0;
    padding: 20px;
    align-items: center;
    border-radius: 25px;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

.logo {
    width: 250px;
}

.search-box {
    position: relative;
    width: 350px;
    max-width: 100%;
    margin-left: 50px;
}

.search-box-input {
    border: none;
    height: 45px;
    width: 100%;
    color: #fff;
    padding: 0 20px;
    border-radius: 14px;
    border: 1px solid #fff;
    background-color: transparent;
    box-shadow: 0 8px 32px -5px rgba(255, 255, 255, 0.35);
}

.search-box-btn {
    position: absolute;
    right: 6px;
    top: 5px;
    bottom: 4px;
    width: 36px;
    border: none;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.weather-info {
    padding: 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

#backgroundImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}